.sub-header-total {
  display: flex;
  justify-content: flex-end;
}
.color-base {
  color: white !important;
}
.triangle-length {
  height: 15px;
  margin-right: 10px;
}
.col-hostname {
  font-size: 18px !important;
}
.col-totalapps1 {
  padding-left: 17px !important;
}
.col-totalapps2 {
  padding-left: 17px !important;
}
.col-type {
  padding-left: 3px !important;
}
.col-version {
  padding-left: 30px !important;
}
.accordion-app {
  padding-top: 20px;
  padding-left: 30px;
  & > span {
    line-height: 20px;
  }
}
.used-total {
  flex-grow: 1;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 7px;
  color: white;
  margin-left: 15px;
  word-spacing: 10px;
}
.used-detail {
  font-size: 15px;
}

.search-input {
  margin-bottom: 7px;
}

.button-filter {
  margin-left: 20px;
}

.dropdown-menu > li > ul {
  display: block;
  padding: 3px 27px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  list-style: none;
  background-color: gainsboro;
}

.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
